In [16]:
import pandas_datareader.data as pdr
import datetime

end = datetime.date.today()
start = end - datetime.timedelta(days=10)

pd_data = pdr.DataReader('SNE', 'yahoo', start, end)

In [6]:
pd_data

                 High        Low       Open      Close   Volume  Adj Close
Date
2020-12-16  95.360001  94.050003  94.269997  95.110001   856800  95.110001
2020-12-17  97.769997  96.769997  97.070000  97.019997  1199700  97.019997
2020-12-18  99.349998  98.139999  99.099998  98.709999  1289600  98.709999
2020-12-21  99.529999  97.809998  98.889999  99.400002   939000  99.400002
2020-12-22  98.309998  97.279999  97.959999  97.459999   743000  97.459999
2020-12-23  98.129997  97.239998  98.129997  97.459999   669600  97.459999
2020-12-24  97.559998  96.540001  97.459999  96.839996   301800  96.839996

In [10]:
for index, row in pd_data.iterrows():
    print(index, row['High'])

2020-12-16 00:00:00 95.36000061035156
2020-12-17 00:00:00 97.7699966430664
2020-12-18 00:00:00 99.3499984741211
2020-12-21 00:00:00 99.52999877929688
2020-12-22 00:00:00 98.30999755859375
2020-12-23 00:00:00 98.12999725341797
2020-12-24 00:00:00 97.55999755859375

In [19]:
datetime.datetime.fromtimestamp(index)

TypeError: an integer is required (got type Timestamp)

In [23]:
index.to_pydatetime()

datetime.datetime(2020, 12, 24, 0, 0)